<a id="top" href="#"><img src="/images/arrow.png"></a>

<footer>
    <div id="footer-content">
        <!-- 
        <div id="github">
            <iframe src="http://ghbtns.com/github-btn.html?user=4front&amp;repo=apphost&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </div>
        <div id="sponsor">The Express project is sponsored by <a href="http://strongloop.com/">StrongLoop</a>.</div>
        <div id="fork"><a href="https://github.com/strongloop/express?_ga=1.39756451.1408343404.1407943788">Fork the website on GitHub</a>
        </div>
         -->
    </div>
</footer>
