<ul id="menu">
	<li>
		<a href="/docs/getting-started.html" {% if page.name == 'getting-started.md' %}class="active"{% endif %}>Getting Started</a>
	</li>
	<li>
		<a href="/docs/install/installation.html" {% if page.submenu == 'install' %}class="active"{% endif %}>Installation</a>
		{% if page.submenu == 'install' %}
		<ul>
			<li>
				<a href="/docs/install/local-install.html" {% if page.name == 'local-install.md' %}class="active"{% endif %}>Local OSX Install</a>
			</li>
			<li>
				<a href="/docs/install/aws-install.html" {% if page.name == 'aws-install.md' %}class="active"{% endif %}>Installing on AWS</a>
			</li>
		</ul>
		{% endif %}
	</li>
	<li>
		<a href="/docs/cli.html" {% if page.name == 'cli.md' %}class="active"{% endif %}>CLI</a>
	</li>
	<li>
		<a href="/docs/middleware.html" {% if page.name == 'middleware.md' %}class="active"{% endif %}>Middleware</a>
	</li>
	<li>
		<a href="/docs/env-vars.html" {% if page.name == 'env-vars.md' %}class="active"{% endif %}>Env Variables</a>
	</li>
	<li>
		<a href="/docs/app-manifest.html" {% if page.submenu == 'app-manifest' %}class="active"{% endif %}>App Manifest</a>
		{% if page.submenu == 'router' %}
		<ul>
			<li>
				<a href="/docs/router/html-page.html" {% if page.name == 'html-page.md' %}class="active"{% endif %}>html-page</a>
			</li>
			<li>
				<a href="/docs/router/static-asset.html" {% if page.name == 'static-asset.md' %}class="active"{% endif %}>static-asset</a>
			</li>
			<li>
				<a href="/docs/router/traffic-control.html" {% if page.name == 'traffic-control.md' %}class="active"{% endif %}>traffic-control</a>
			</li>
		</ul>
		{% endif %}
	</li>
	<li>
		<a href="app-manifest.html" {% if page.name == 'app-manifest.md' %}class="active"{% endif %}>App Manifest</a>
	</li>
	<li>
		<a href="dev-sandbox.html" {% if page.name == 'dev-sandbox.md' %}class="active"{% endif %}>Dev Sandbox</a>
	</li>
	<li>
		<a href="plugins.html" {% if page.name == 'plugins.md' %}class="active"{% endif %}>Plugins</a>
	</li>
	<li>
		<a href="motivation.html" {% if page.name == 'motivation.md' %}class="active"{% endif %}>Motivation</a>
	</li>
</ul>
