<ul id="menu">
	<li>
		<a href="getting-started.html" {% if page.name == 'getting-started.md' %}class="active"{% endif %}>Getting Started</a>
	</li>
	<li>
		<a href="middleware.html" {% if page.name == 'middleware.md' %}class="active"{% endif %}>Middleware</a>
	</li>
	<li>
		<a href="env-vars.html" {% if page.name == 'env-vars.md' %}class="active"{% endif %}>Environment Variables</a>
	</li>
	<li>
		<a href="configuration.html" {% if page.name == 'configuration.md' %}class="active"{% endif %}>Configuration</a>
	</li>
	<li>
		<a href="dev-sandbox.html" {% if page.name == 'dev-sandbox.md' %}class="active"{% endif %}>Dev Sandbox</a>
	</li>
</ul>